# Ignore all files and directories starting with a dot
.*
# But keep the .github directory
!.github/
!.github/**.rules
.gitignore
.claude
.serena
.gemini
.qwen
.cursor
build
*.sh
*.shell
git-clone-key.txt
create_windows_package.bat
build_windows.bat
.cursor
.vscode
.env
.trae
mcp.json
gaussian-extractor-v0.4.2-windows
*.zip
opencode.json
settings.json
*.x
build-*
README_ICON.md
build_*
gauinputtemplt
.ps1
./*.txt
docs/api
docs/.doctrees
docs/xml
docs/html
docs/_build
.aider.input.history
.aider.chat.history.md
.aider.tags.cache.*
CRUSH.md
.crush.json
__cmake_systeminformation
*.bat   
!add_to_path.bat


